{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="form-container">
        <h2 class="title">{{title2}}</h2>

        <form id="supplier-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn blue">
                <a href={% url 'core:supplier_list' %} class="btn red"> Cancelar </a>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/validaciones.js' %}"></script>

<script>
    // Escuchar el evento de envío del formulario
    document.getElementById('supplier-form').addEventListener('submit', async function(event) {
        event.preventDefault(); // Evitar el envío del formulario por defecto

        const rucInput = document.getElementById('id_ruc'); // Obtener el campo de RUC

        if (Validaciones.esCedulaValida(rucInput.value)) { // Validar el RUC
            // Si el RUC es válido, enviar el formulario
            this.submit();
        } else {
            // Si el RUC no es válido, mostrar un mensaje de error
            swal('Error', 'El RUC ingresado no es válido', 'error');
        }
    });
</script>

{% endblock content %}
