{% extends 'base.html' %}
{% block content %}
<section id="home-modulos" class="mt-4 d-flex justify-content-center align-items-center">
    <div class="container text-center">
        <div class="row">
            <!-- Mensaje de bienvenida a la izquierda -->
            <div class="col-lg-12">
                <div class="module-head">
                    <h2 class="title text-center">{{ title2 }}</h2>
                    <p>Agregue informacion de proveedores. </p>
                </div>
            </div>
            <div class="module-table">
                <div class="table-responsive"> <!-- Clase de Bootstrap para tablas responsivas -->
                    <table class="table table-hover table-bordered">
                        <thead> <!-- Encabezado oscuro -->
                            <tr>
                                <th>Nombre</th>
                                <th>RUC</th>
                                <th>Ciudad</th>
                                <th>Celular</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in suppliers %}
                            <tr>
                                <td>{{item.name}}</td>
                                <td>{{item.ruc}}</td>
                                <td>{{item.address}}</td>
                                <td>{{item.phone}}</td>
                                <td>{% if item.state %}
                                    <i class="fa-solid fa-check" style="font-size: 30px;color: green;"></i>
                                    {% else %}
                                    <i class="fa-solid fa-square-minus" style="font-size: 30px;color: red;"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'core:supplier_update' item.id %}"><i class="fa-solid fa-gear" style="font-size: 30px;color: black;"></i></a>
                                    <a href="{% url 'core:supplier_delete' item.id %}"><i class="fa-solid fa-trash" style="font-size: 30px;color: darkred;"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="form-group text-center">
                    <a class="btn btn-details" href="{% url 'core:supplier_create' %}"><i class="fa-solid fa-user-plus"></i> Nuevo proveedor </a> <!-- Clase de botón de Bootstrap -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}