/* Estilos para la barra de navegación */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
body{
    background-color: black;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    /* <weight>: Use a value from 100 to 800 */
    font-weight: 500; 
    font-style: normal;
    margin: 0;
    font-size: 18px;
}

::selection {
    background-color: gold;
    color: black; /* Color de texto para la selección */
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}


/*Barra de navegacion */
.navbar {
    background-color: #111010 !important; /* Fondo semi-transparente */
    position: fixed; /* Fijar la barra de navegación en la parte superior */
    width: 100%; /* Ancho completo */
    z-index: 1000; /* Colocar la barra de navegación encima de otros elementos */
    display: flex; /* Utilizar flexbox para centrar los elementos */
    justify-content: center; /* Centrar horizontalmente los elementos */
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

.navbar-brand { /* Estilos para el logotipo */
    color: gold; /* Color del texto */
    font-size: 24px; /* Tamaño de fuente */
    font-weight: 800; /* Peso de la fuente */
    margin-left: 20px;
    margin-right: 50px;
}

.nav-item { /* Estilos para los elementos de la barra de navegación */
    margin-right: auto;
    font-size: 20px;
    font-weight: 500;
}

.nav-link { /* Estilos para los enlaces de la barra de navegación */
    color: gray;
    transition: color 0.3s; /* Transición suave para el cambio de color del texto */
}

.nav-link:hover { /* Estilos para los enlaces de la barra de navegación al pasar el cursor */
    color: gold;
}

/* Estilos para Home */
#home-content { /* Estilos para el contenido de la página de inicio */
    padding: 60px 0 100px 0; /* Añadir espacio interno */
}

.welcome-message { /* Estilos para el mensaje de bienvenida */
    background-color: #111010;
    border-radius: 25px;
    padding: 28px;
    margin: 0 10px 0 10px ;
    transition: transform 0.3s;
}

.welcome-message h2 {
    text-transform: uppercase; /* Convertir el texto del h2 en mayúsculas */
    color: gold; 
    font-weight: 800;
    font-size: 40px;
}

.welcome-message p {
    color: gray; 
    font-weight: 500;
    font-size: 24px;
}

.welcome-message span {
    color: gray; 
    font-weight: 400;
    font-size: 20px;
}

/* Estilos para las imágenes del carrusel */
#image-carousel {
    transition: transform 0.3s;
}

.carousel-item img {
    border-radius: 50px; /* Bordes redondeados */
    max-width: 90%; /* Ancho máximo */
    height: auto; /* Altura automática */
    background: linear-gradient(to bottom right, #000, #333); /* Degradado */
}

#image-carousel:hover, .welcome-message:hover {
    transform: scale(1.05); /* Aumenta el tamaño al pasar el cursor */
}


/* Estilos para los botones */
.btn-details, .btn-cancel{
    margin-top: 10px;
    border-radius: 30px; /* Bordes redondeados */
    padding: 10px 20px; /* Añadir espacio interno */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: 600; /* Peso de la fuente */
    text-transform: uppercase; /* Convertir el texto en mayúsculas */
    transition: transform 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.btn-details {
    background-color: gold; /* Color de fondo */
    color: #111010; /* Color del texto */
}

.btn-cancel {
    background-color: red; /* Color de fondo */
    color: #111010; /* Color del texto */
}

.btn-details:hover {
    background-color: rgb(59, 59, 57); /* Cambiar a un color más claro */
    color: #fff;
    transform: scale(1.05); /* Aumenta el tamaño al pasar el cursor */
}

.btn-cancel:hover {
    background-color: rgb(110, 8, 8); /* Cambiar a un color más claro */
    color: #fff;
    transform: scale(1.05); /* Aumenta el tamaño al pasar el cursor */
}

/* Estilos para modulos */
#home-modulos {
    padding: 60px 0 100px 0; /* Añadir espacio interno */
}

.module-head {
    padding: 30px;
}

.module-head h2 {
    text-transform: uppercase; /* Convertir el texto del h2 en mayúsculas */
    color: gold; 
    font-weight: 800;
    font-size: 32px;
}
.module-head p {
    color: gray;
    font-weight: 600;
    font-size: 22px;
}

/* Tablas */
.module-table {
    background-color: #111010;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    margin: 0 auto; /* Esto centrará horizontalmente el contenedor */

}

.module-table table {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    border: 2px solid hsl(0, 0%, 0%); /* Ajusta el grosor y el color de los bordes */
    vertical-align: middle; /* Centra verticalmente el contenido */
    align-items: center;
}

.module-table thead th {
    background-color: rgb(0, 0, 0); /* Color oscuro de fondo */
    color: gold; 
    text-transform: uppercase; /* Convertir el texto en mayúsculas */
    font-weight: 750; /* Peso de la fuente */
    font-size: 18px;
    border: 2px solid hsl(0, 0%, 0%); /* Ajusta el grosor y el color de los bordes */
}
.module-table tbody td{
    background-color: gainsboro; 
    color: rgb(41, 44, 44);
    font-weight: 450; /* Peso de la fuente */
    font-size: 16px;
    border: 2px solid hsl(0, 0%, 0%); /* Ajusta el grosor y el color de los bordes */
}

.module-table tbody td.product-image img {
    width: 60px;
    border-radius: 15px;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    background-color: #111010;
    z-index: 999; /* Asegura que esté por encima de otros elementos */
}

/* Estilos para los formularios */
.form-container{
    background-color: #111010;
    border-radius: 25px;
    margin: 0 auto; /* Esto centrará horizontalmente el contenedor */
    width: 70%;
}

#form-brand, #form-category {
    width: 40%;
} 

label{
    color: white; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: 600; /* Peso de la fuente */
    text-transform: uppercase;
}

form{
    margin: 20px 0; /* Añadir espacio superior e inferior */
}

form input[type="text"], 
form input[type="number"], 
form select, 
form input[type="date"], 
form input [type="checkbox"], 
form input[type="file"] {
    margin: 10px 0 25px; /* Añadir espacio superior e inferior */
    background-color: whitesmoke;
    border: whitesmoke 2px solid; /* Color del borde */
    border-radius: 10px;
    font-size: 16px; /* Tamaño de fuente */
    font-weight: 600; /* Peso de la fuente */
    box-sizing: border-box; /* Asegurar que el padding y el borde se incluyan en el tamaño total */
    width: 100%; /* Hacer que todos los elementos tengan el mismo ancho */
    padding: 10px; /* Espaciado interno para consistencia */
}


form input[type="text"]:focus, 
form input[type="number"]:focus, 
form input[type="date"]:focus{
    outline: none;
    border-color: gold; /* Color del borde al enfocar */
}

form select {
    appearance: none; /* Eliminar la apariencia por defecto del select en algunos navegadores */
    -webkit-appearance: none; /* Eliminar la apariencia por defecto del select en Safari y Chrome */
    -moz-appearance: none; /* Eliminar la apariencia por defecto del select en Firefox */
    height: 48px; /* Asegurar que la altura sea consistente con otros campos */
    background-color: #111010;
}

.form-product-container {
    background-color: #111010;
    border-radius: 25px;
    padding: 15px;
    width: 75%;
    margin: 0 auto; /* Esto centrará horizontalmente el contenedor */
}