/* Estilos para la barra de navegación */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
:root{
    --title: gold;
    --subtitle: gray;
    --content: #111010;

    --save: rgb(223, 189, 0);
    --save-hover: rgb(59, 59, 57);
    --cancel: rgb(255, 0, 0);
    --cancel-hover: rgb(128, 0, 0);
    --update: rgb(0, 204, 255);
    --update-hover: rgb(0, 102, 128);
    --color-1:  rgb(59, 59, 57);

    --card-header-footer: rgb(94, 91, 91);

    --labels: wheat;
    
}

body{
    background-color: black;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    /* <weight>: Use a value from 100 to 800 */
    font-weight: 500; 
    font-style: normal;
    margin: 0;
    font-size: 18px;
}

::selection {
    background-color: gold;
    color: black; /* Color de texto para la selección */
}

/* Barra de navegacion */
.navbar {
    background-color: black;
    position: fixed; /* Fijar la barra de navegación en la parte superior */
    width: 100%; /* Ancho completo */
    z-index: 1000; /* Colocar la barra de navegación encima de otros elementos */
    display: flex; /* Utilizar flexbox para centrar los elementos */
    align-items: center; /* Alinear verticalmente los elementos */
    padding: 0 20px; /* Espaciado a los lados */
}

.navbar-brand { /* Estilos para el logotipo */
    color: var(--title); /* Color del texto */
    font-size: 24px; /* Tamaño de fuente */
    font-weight: 800; /* Peso de la fuente */
    margin-right: 20px;
}

.navbar-nav {
    display: flex; /* Flexbox para los elementos de navegación */
    justify-content: center; /* Centrar los elementos de navegación */
    flex-grow: 1; /* Tomar el espacio restante entre el logotipo y el botón de login */
    list-style: none; /* Eliminar los puntos de la lista */
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 15px; /* Espaciado entre los elementos de navegación */
}

.nav-link {
    color: var(--subtitle);
    transition: color 0.3s; /* Transición suave para el cambio de color del texto */
    text-decoration: none; /* Eliminar subrayado */
    font-size: 20px;
    font-weight: 800;
}

.nav-link:hover,  nav.active .nav-link{
    color: var(--title); /* Cambiar color al pasar el cursor */
}

/* Estilos para Home */
#home-content { /* Estilos para el contenido de la página de inicio */
    padding: 60px 0 100px 0; /* Añadir espacio interno */
}

.welcome-message { /* Estilos para el mensaje de bienvenida */
    background-color: var(--content);
    border-radius: 25px;
    padding: 28px;
    margin: 0 10px 0 10px ;
    transition: transform 0.3s;
}

.welcome-message h2 {
    text-transform: uppercase; /* Convertir el texto del h2 en mayúsculas */
    color: var(--title); 
    font-weight: 800;
    font-size: 40px;
}

.welcome-message p {
    color: var(--subtitle); 
    font-weight: 500;
    font-size: 24px;
}

.welcome-message span {
    color: var(--subtitle); 
    font-weight: 400;
    font-size: 20px;
}

/* Estilos para las imágenes del carrusel */
#image-carousel {
    transition: transform 0.3s;
}

.carousel-item img {
    border-radius: 50px; /* Bordes redondeados */
    max-width: 90%; /* Ancho máximo */
    height: auto; /* Altura automática */
}

#image-carousel:hover, .welcome-message:hover {
    transform: scale(1.05); /* Aumenta el tamaño al pasar el cursor */
}

/* Estilos para los botones */
.btn-details, .btn-cancel, .btn-update{
    margin: 10px;
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 20px; /* Añadir espacio interno */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: 600; /* Peso de la fuente */
    text-transform: uppercase; /* Convertir el texto en mayúsculas */
    transition: transform 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
    border: none;
}

.btn-details {
    background-color: var(--save); /* Color de fondo */
}

.btn-cancel {
    background-color: var(--cancel); /* Color de fondo */
}

.btn-update {
    background-color: var(--update); /* Color de fondo */
}
.btn-details:hover, .btn-cancel:hover, .btn-update:hover {
    color: #fff;
    transform: scale(1.05); /* Aumenta el tamaño al pasar el cursor */
}
.btn-details:hover {
    background-color: var(--save-hover); /* Cambiar a un color más claro */
}

.btn-cancel:hover {
    background-color: var(--cancel-hover); /* Cambiar a un color más claro */
}

.btn-update:hover {
    background-color: var(--update-hover); /* Cambiar a un color más claro */
}

/* Estilos para modulos */
#home-modulos {
    padding: 60px 0 100px 0; /* Añadir espacio interno */
}

.module-head {
    padding: 30px;
}

.module-head h2 {
    text-transform: uppercase; /* Convertir el texto del h2 en mayúsculas */
    color: var(--title); 
    font-weight: 800;
    font-size: 32px;
}
.module-head p {
    color: var(--subtitle);
    font-weight: 600;
    font-size: 22px;
}

/* Cards de Modulos */
.module-cards {
    background-color: var(--content);
    border-radius: 25px;
    padding: 30px;
    width: auto;
    margin: 0 auto; /* Esto centrará horizontalmente el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra para darle profundidad */
    max-width: 1200px; /* Establece un ancho máximo para evitar que se extienda demasiado */
}

.card {
    margin-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s; /* Añade una transición para la sombra */
    border: none; /* Elimina cualquier borde no deseado */
    border-radius: 15px; /* Añade bordes redondeados a las tarjetas */
    overflow: hidden; /* Asegura que los contenidos no sobresalgan del borde redondeado */
    background-color: #333; /* Fondo oscuro para mayor contraste */
}

.card:hover {
    border: none; /* Elimina cualquier borde no deseado */
    transform: scale(1.05); /* Aumenta el tamaño al pasar el cursor */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el cursor */
}

.card-header, .card-footer {
    border: none; /* Elimina cualquier borde no deseado */
    background-color: black;
    padding: 10px 15px; /* Ajusta el espaciado interno */
    width: 100%;
    text-align: center; /* Centra el texto */
    font-weight: bold; /* Resalta el texto */
}

.card-body {
    background-color: rgb(24, 22, 22);
    padding: 15px; /* Ajusta el espaciado interno */
    width: 100%;
}
.module-cards{
    width: 100%;
    line-height: 1.6; /* Mejora la legibilidad con un mayor interlineado */
}

.module-cards h2 {
    color: var(--title); /* Color amarillo para destacarlo */
    text-transform: uppercase; /* Convertir el texto en mayúsculas */
    font-weight: 800; /* Peso de la fuente */
    font-size: 20px;
    padding: 10px;
    margin: 0 0 10px 0; /* Ajusta el margen para separarlo del contenido siguiente */
}

.module-cards h3 {
    color: var(--labels); /* Color amarillo para destacarlo */
    text-transform: uppercase; /* Convertir el texto en mayúsculas */
    font-weight: 800; /* Peso de la fuente */
    font-size: 20px;
}

h3 .info {
    color: var(--subtitle); /* Cambia esto al color que desees */
    margin-left: 5px; /* Añade un pequeño espacio entre el texto y los datos */
    text-transform: capitalize;
    font-size: 18px;
}

.module-cards p {
    color: var(--subtitle); /* Color más claro para mejor contraste */
    font-weight: 700; /* Peso de la fuente */
    font-size: 18px;
    margin: 0 0 10px 0; /* Ajusta el margen para separar los párrafos */
}

.module-cards .description {
    color: var(--subtitle); /* Color más claro para mejor contraste */
    font-weight: 700; /* Peso de la fuente */
    font-size: 20px;
    line-height: 1.6; /* Mejora la legibilidad con un mayor interlineado */
    margin: 0 0 10px 0; /* Ajusta el margen para separar los párrafos */
}

.module-cards img {
    width: 50%;
    border-radius: 15px;
    margin: 0 auto 10px; /* Esto centrará horizontalmente el contenedor */
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    background-color: #111010;
    z-index: 999; /* Asegura que esté por encima de otros elementos */
}

/* Estilos para los formularios */
.form-container{
    background-color: #111010;
    border-radius: 25px;
    margin: 0 auto; /* Esto centrará horizontalmente el contenedor */
    width: 70%;
}

#form-brand, #form-category {
    width: 40%;
} 

label{
    color: var(--labels); /* Color del texto */
    font-size: 20px; /* Tamaño de fuente */
    font-weight: 800; /* Peso de la fuente */
    text-transform: uppercase;
}

form{
    margin: 20px 0; /* Añadir espacio superior e inferior */
}

form input[type="text"], 
form input[type="number"], 
form select, 
form input[type="date"], 
form input [type="checkbox"], 
form input[type="file"] {
    margin: 10px 0 25px; /* Añadir espacio superior e inferior */
    background-color: whitesmoke;
    border: whitesmoke 2px solid; /* Color del borde */
    border-radius: 10px;
    font-size: 16px; /* Tamaño de fuente */
    font-weight: 600; /* Peso de la fuente */
    box-sizing: border-box; /* Asegurar que el padding y el borde se incluyan en el tamaño total */
    width: 100%; /* Hacer que todos los elementos tengan el mismo ancho */
    padding: 10px; /* Espaciado interno para consistencia */
}


form input[type="text"]:focus, 
form input[type="number"]:focus, 
form input[type="date"]:focus{
    outline: none;
    border-color: gold; /* Color del borde al enfocar */
}

form select {
    appearance: none; /* Eliminar la apariencia por defecto del select en algunos navegadores */
    -webkit-appearance: none; /* Eliminar la apariencia por defecto del select en Safari y Chrome */
    -moz-appearance: none; /* Eliminar la apariencia por defecto del select en Firefox */
    height: 48px; /* Asegurar que la altura sea consistente con otros campos */
    background-color: #111010;
}

.form-product-container {
    background-color: #111010;
    border-radius: 25px;
    padding: 15px;
    width: 75%;
    margin: 0 auto; /* Esto centrará horizontalmente el contenedor */
}

/* Estilos para Sweet Alert */
.dark-popup {
    background: #333 !important; /* Fondo oscuro */
    color: #fff !important; /* Texto blanco */
}

.dark-confirm-button {
    background-color: #3085d6 !important; /* Color del botón de confirmación */
    color: #fff !important; /* Texto del botón de confirmación */
}

.dark-cancel-button {
    background-color: #d33 !important; /* Color del botón de cancelación */
    color: #fff !important; /* Texto del botón de cancelación */
}

.error-title {
    color: #ff4d4d !important; /* Rojo para errores */
}

.success-title {
    color: #4CAF50 !important; /* Verde para éxitos */
}
