{% extends 'base.html' %}
{% block content %}
{% load static %}
<title>{% block title %} SGV - Productos {% endblock title %}</title>

<section id="home-modulos" class="mt-4 d-flex justify-content-center align-items-center">
    <div class="container text-center">
        <div class="row">
            <!-- Mensaje de bienvenida a la izquierda -->
            <div class="col-lg-12">
                <div class="module-head">
                    <h2 class="title text-center">{{ title2 }}</h2>
                    <p>Administra tu inventario con facilidad y precisión gracias a nuestro sistema de consulta de productos.</p>
                </div>
            </div>
            <div class="module-table">
                <div class="table-responsive"> <!-- Clase de Bootstrap para tablas responsivas -->
                    <table class="table table-hover table-bordered">
                        <thead> <!-- Encabezado oscuro -->
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Marca</th>
                                <th>Categoría</th>
                                <th>Línea</th>
                                <th>Proveedor</th>
                                <th>Fecha Caducidad</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in products %}
                            <tr>
                                <td class="product-image"><img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}" alt="Imagen del producto"></td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.stock }}</td>
                                <td>{{ item.brand }}</td>
                                <td>{{ item.get_categories }}</td>
                                <td>{{ item.get_line_display }}</td>
                                <td>{{ item.supplier }}</td>
                                <td>{{ item.expiration_date | date:"Y-m-d" }}</td>
                                <td>{% if item.state %}
                                    <i class="fa-solid fa-check" style="font-size: 30px;color: green;"></i>
                                    {% else %}
                                    <i class="fa-solid fa-square-minus" style="font-size: 30px;color: red;"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'core:product_update' item.id %}"><i class="fa-solid fa-gear" style="font-size: 30px;color: black;"></i></a>
                                    <a href="{% url 'core:product_delete' item.id %}"><i class="fa-solid fa-trash" style="font-size: 30px;color: darkred;"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="form-group text-center">
                    <a class="btn btn-details" href="{% url 'core:product_create' %}"><i class="fa-solid fa-plus"></i> Nuevo Producto </a> <!-- Clase de botón de Bootstrap -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
