<!-- En home.html -->
{% extends 'base.html' %}
{% load static %}
<title>{% block title %} SGV - Home {% endblock title %}</title>
{% block content %}
<section id="home-content" class="mt-4 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row" class="home-container">
            <!-- Mensaje de bienvenida a la izquierda -->
            <div class="col-lg-6 d-flex align-items-center">
                <div class="welcome-message">
                    <p>Bienvenido, username. </p>
                    <h2>¡Descubre nuestro increíble sistema!</h2>
                    <span>Te invitamos a descubrir un mundo de múltiples posibilidades para optimizar tus procesos de ventas y llevar tu negocio al siguiente nivel. Nuestro innovador SGV te ofrece una gama de beneficios que te ayudarán en procesos en tu emprendimiento.</span><br>
                    <button class="btn btn-details">Explorar
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            <!-- Secuencia de imágenes a la derecha -->
            <div class="col-lg-6">
                <div id="image-carousel" class="carousel slide animate__animated animate__fadeIn" data-bs-ride="carousel">
                    <div class="carousel-inner" id="carousel-inner">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // Array de rutas de imágenes
    var imagePaths = [
        "{% static 'img/carausel-home/carausel-1.jfif' %}",
        "{% static 'img/carausel-home/carausel-2.jfif' %}",
        "{% static 'img/carausel-home/carausel-3.jfif' %}",
        "{% static 'img/carausel-home/carausel-4.jfif' %}",
        "{% static 'img/carausel-home/carausel-5.jfif' %}",
        "{% static 'img/carausel-home/carausel-6.jfif' %}",
        "{% static 'img/carausel-home/carausel-7.jfif' %}",
        "{% static 'img/carausel-home/carausel-8.jfif' %}",
    ];

    // Función para generar los elementos del carrusel dinámicamente
    $(document).ready(function() {
        var carouselInner = $('#carousel-inner');
        imagePaths.forEach(function(imagePath, index) {
            var activeClass = index === 0 ? 'active' : '';
            carouselInner.append('<div class="carousel-item ' + activeClass + '"><img src="' + imagePath + '" class="d-block w-10" alt="..."></div>');
        });
    });
</script>

{% endblock content %}
