{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %} SGV - Registrarse {% endblock title %}</title>
<section id="home-signup" class="mt-4 d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
    <div class="container text-center">
        <div class="row">
            <div id="form-signup" class="form-container">
                <form method="POST" enctype="multipart/form-data">
                    <h2 class="title text-center">{{ title2 }}</h2>
                    {% csrf_token %}
                    {{error.as_p}}
                    {{ form.as_p }}
                    <button class="btn btn-details" type="submit">Registrarse</button>
                    <a class="btn btn-details" href="{% url 'signin' %}">Regresar</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content  %}
<form method="POST">

</form>